<html>
<head>
<style>
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#productTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#productTable td, #productTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#productTable tr:nth-child(even){background-color: #f2f2f2;}

#productTable tr:hover {background-color: #ddd;}

#productTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


/* Add a black background color to the top navigation */
.topnav {
background-color: #333;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #4CAF50;
color: white;
}

</style>

<script type="text/javascript">
    function alertFunction(msg) {
        alert(msg)
    }
</script>	
</head>
<div class="topnav">
      <a class="active" href="home">Home</a>
</div>
<center>
<form action="/search_add_consume">
	<br>
	<br>
	<br>
	<table>
		<tr> 
			<td>Item Name</td>
			<td><input type="text" id="txtname" placeholder="Enter Item Name" name="txtname"></td>
		</tr>
		<tr>
			<td>GSM</td>
			<td><input type="text" id="txtgsm" placeholder="Enter GSM Value" name="txtgsm"></td>
		</tr>
		<tr>
			<td>SIZE</td>
			<td><input type="text" id="txtsize" placeholder="Enter Item Size" name="txtsize"></td>
		</tr>
		<tr>
			<td>BF</td>
			<td><input type="text" id="txtbf" placeholder="Enter BF Value" name="txtbf"></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td><a href="add_consume_load" class="button">CLEAR</a></td>
			<td><button type="submit" class="button">SEARCH</button></td>
		</tr>
	</table>
</form>
<br>
<br>
<br>
<br>
<div id = "products">
<h1 style="color: #5e9ca0;"> Products </h1>
<table id="productTable">
	<tr>
		<th>Item Name </th>
		<th>Item Size</th>
		<th>Item GSM</th>
		<th>Item BF</th>
		<th>Reels</th>
		<th>Quantity</th>
	</tr> 
    {% for item in products %}
    <tr>
        <td>{{item.ItemName}}</td>
        <td>{{item.ItemSize}}</td>
        <td>{{item.ItemGSM}}</td>
        <td>{{item.ItemBF}}</td>
        <td>{{item.Reels}}</td>
        <td>{{item.Quantity}}</td>
        <td><a href="{{ url_for('add_consume_product_load', item_code=item.ItemCode) }}" id={{item.ItemCode}}> ADD / CONSUME </a>
    </tr>
    {% endfor %}
</table>
</div>
</center>
</html>