<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
/* Add a black background color to the top navigation */
.topnav {
background-color: #333;
overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
background-color: #ddd;
color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
background-color: #4CAF50;
color: white;
}
</style>
 
</head>
<body>
<div class="topnav">
      <a class="active" href="home">Home</a>
</div>
<center>
	<form action="report_generate">
		<br>
		<br>
		<br>
		<br>
		<table>
			<tr>
				<td>
					From
				</td>
				<td>
					<input type="date" name="txtfromdate" id="txtfromdate">
				</td>
			</tr>
			<tr>
				<td>To</td>
				<td>
					<input type="date" name="txttodate" id="txttodate">
				</td>
			</tr>
			<tr></tr>
			<tr></tr>
			<tr></tr>
			<tr>
				<td>
				</td>
				<td>
					<button type="submit" class="button">Generate</button>
				</td>
			</tr>
		</table>
	</form>
	<br>
	<br>
	<br>
	<table id="report" border="0" style="width:400px">
		<thead>
			<tr>
				<th></th>
				<th></th>
				<th>CLOSING STOCK ON {{essentials.todate}}</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<th>Item Name </th>
				<th>Item Size</th>
				<th>Item GSM</th>
				<th>Item BF</th>
				<th>No. of Reels</th>
				<th>Closing Stock</th>
			</tr>
		</thead>
		<tbody>
			{% for item in products %}
			<tr>
				<td>{{item.ItemName}}</td>
		        <td>{{item.ItemSize}}</td>
		        <td>{{item.ItemGSM}}</td>
		        <td>{{item.ItemBF}}</td>
		        <td>{{item.Reels}}</td>
		        <td>{{item.Quantity}}</td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
		        <td></td>
		        <td></td>
		        <td></td>
		        <td>{{essentials.reels_sum}}</td>
		        <td>{{essentials.qty_sum}}</td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<div class='button'>
            <a href="#" id ="export" role='button'>Click On This Here Link To Export The Table Data into a CSV File
            </a>
        </div>
</center>
<script type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
        <!-- If you want to use jquery 2+: https://code.jquery.com/jquery-2.1.0.min.js -->
        <script type='text/javascript'>
        $(document).ready(function () {

            console.log("HELLO")
            function exportTableToCSV($table, filename) {
                var $headers = $table.find('tr:has(th)')
                    ,$rows = $table.find('tr:has(td)')

                    // Temporary delimiter characters unlikely to be typed by keyboard
                    // This is to avoid accidentally splitting the actual contents
                    ,tmpColDelim = String.fromCharCode(11) // vertical tab character
                    ,tmpRowDelim = String.fromCharCode(0) // null character

                    // actual delimiter characters for CSV format
                    ,colDelim = '","'
                    ,rowDelim = '"\r\n"';

                    // Grab text from table into CSV formatted string
                    var csv = '"';
                    csv += formatRows($headers.map(grabRow));
                    csv += rowDelim;
                    csv += formatRows($rows.map(grabRow)) + '"';

                    // Data URI
                    var csvData = 'data:application/csv;charset=utf-8,' + encodeURIComponent(csv);

                $(this)
                    .attr({
                    'download': filename
                        ,'href': csvData
                        //,'target' : '_blank' //if you want it to open in a new window
                });

                //------------------------------------------------------------
                // Helper Functions 
                //------------------------------------------------------------
                // Format the output so it has the appropriate delimiters
                function formatRows(rows){
                    return rows.get().join(tmpRowDelim)
                        .split(tmpRowDelim).join(rowDelim)
                        .split(tmpColDelim).join(colDelim);
                }
                // Grab and format a row from the table
                function grabRow(i,row){
                     
                    var $row = $(row);
                    //for some reason $cols = $row.find('td') || $row.find('th') won't work...
                    var $cols = $row.find('td'); 
                    if(!$cols.length) $cols = $row.find('th');  

                    return $cols.map(grabCol)
                                .get().join(tmpColDelim);
                }
                // Grab and format a column from the table 
                function grabCol(j,col){
                    var $col = $(col),
                        $text = $col.text();

                    return $text.replace('"', '""'); // escape double quotes

                }
            }


            // This must be a hyperlink
            $("#export").click(function (event) {
                // var outputFile = 'export'
                var outputFile = "Stock.csv";
                outputFile = outputFile.replace('.csv','') + '.csv'
                 
                // CSV
                exportTableToCSV.apply(this, [$('#report'), outputFile]);
                
                // IF CSV, don't do event.preventDefault() or return false
                // We actually need this to be a typical hyperlink
            });
        });
    </script>
    </body>
</html>
</body>
</html>