
<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
	</style>
</head>
<body>
<form action="/update_product">
	<br>
	<br>
	<br>
	<center>
	<table>
		{% for item in products %}
		<tr>
			<td>Item Code</td>
			<td><label id="lblCode" name="lblCode">{{item.ItemCode}}</label>
		<tr> 
			<td>Item Name</td>
			<td><input type="text" id="txtname" value="{{item.ItemName}}" name="txtname"></td>
		</tr>
		<tr>
			<td>GSM</td>
			<td><input type="text" id="txtgsm" value="{{item.ItemGSM}}" name="txtgsm"></td>
		</tr>
		<tr>
			<td>SIZE</td>
			<td><input type="text" id="txtsize" value="{{item.ItemSize}}" name="txtsize"></td>
		</tr>
		<tr>
			<td>BF</td>
			<td><input type="text" id="txtbf" value="{{item.ItemBF}}" name="txtbf"></td>
		</tr>
		<tr>
			<td>Reels</td>
			<td><input type="text" id="txtreels" value="{{item.Reels}}" name="txtreels"></td>
		</tr>
		<tr>
			<td>Quantity</td>
			<td><input type="text" id="txtquantity" value="{{item.Quantity}}" name="txtquantity"></td>
		</tr>
		<tr></tr>
		<tr></tr>
		<tr>
			<td><a href="load_search" class="button">BACK</a></td>
			<td><a type="submit" class="button" onclick="sendAlert()">UPDATE</button></td>
			<td><input type="hidden" name="txtcode" id="txtcode" value="{{item.ItemCode}}">
		</tr>
		{% endfor %}
	</table>
	</center>
</form>
<script type="text/javascript">
	function sendAlert(){
		alert("Stock Updated");
	}
</script>
</body>
</html>